<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>

<div id="header">
    <h1>MathMinds</h1>
    <a href="/events"><h4>Events</h4></a>
    <a href="/competition"><h4>Competition</h4></a>
    <a href="/ambassadors"><h4>Ambassadors</h4></a>
    <a href="/leadership"><h4>Leadership</h4></a>
</div>

<div id="content">

</div>

<div id="footer" class="darkmode-background">
    <h2 class="darkmode-content">MathMinds</h2>
    <div id="footer-left">
        <a href="mailto:mathmindsacademy576@gmail.com"><h4 class="darkmode-content">mathmindsacademy576@gmail.com</h4></a>
        <a href="https://linktr.ee/MathMindsAcademy576"><h4 class="darkmode-content">Linktree</h4></a>
        <a href="https://www.instagram.com/mathmindsacademy576"><h4 class="darkmode-content">Instagram</h4></a>
    </div>
    <div id="footer-right">
        <h4 class="darkmode-content">Goose Creek Memorial High School</h4>
        <h4 class="darkmode-content">6001 E Wallisville Rd</h4>
        <h4 class="darkmode-content">Baytown, TX 77521</h4>
    </div>
</div>

</body>
</html>