@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$paragraphFamily: "Barlow Condensed", sans;
$headingFamily: "Montserrat", sans;

$primary: #fdfdfd;
$secondary: #020202;


body {
  font-family: $paragraphFamily;
  background: $primary;
  color: $secondary;
  margin: 0;
}

h1 {
  font-family: $headingFamily;
  font-weight: 800;
  margin: 0;
  font-size: 2.25em;
}
h2 {
  font-family: $headingFamily;
  font-weight: 700;
  margin: 0;
  font-size: 2em;
}
h3 {
  font-family: $headingFamily;
  font-weight: 600;
  margin: 0;
  font-size: 1.75em;
}
h4 {
  font-family: $headingFamily;
  font-weight: 500;
  margin: 0;
  font-size: 1.5em;
}
h5 {
  font-family: $headingFamily;
  font-weight: 400;
  margin: 0;
  font-size: 1.35em;
}
h6 {
  font-family: $headingFamily;
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
}

p {
  font-family: $paragraphFamily;
  margin: 0;
}

a {
  position:relative;
  color: $secondary;
  font-family: $paragraphFamily;
  text-decoration: none;
  margin: 0;
}



.darkmode-background {
  background: $secondary;
}
.darkmode-content {
  color: $primary;
}
a.darkmode-content {
  color: $primary;
}


::-moz-selection { /* Code for Firefox */
  color: $primary;
  background: $secondary;
}

::selection {
  color: $primary;
  background: $secondary;
}

.darkmode-content::-moz-selection { /* Code for Firefox */
  background: $primary;
  color: $secondary;
}

.darkmode-content::selection {
  background: $primary;
  color: $secondary;
}