#footer {
  position: relative;
  height: 20vh;
  h2 {
    width: 100%;
    text-align: center;
    margin-top: 10%;
  }

  #footer-left {
    width: 45%;
    position: absolute;
    left: 2.5%;
    bottom: 20%;
  }
  #footer-right {
    width: 45%;
    position: absolute;
    right: 2.5%;
    bottom: 20%;
  }

  h4 {
    width: 100%;
    text-align: center;
  }
}