#footer {
  position: relative;
  height: 20vh;
  h2 {
    width: 100%;
    text-align: center;
    padding-top: 2vh;
  }

  #footer-left {
    width: 45%;
    position: absolute;
    left: 2.5%;
    bottom: 20%;
  }
  #footer-right {
    width: 45%;
    position: absolute;
    right: 2.5%;
    bottom: 20%;
  }

  h6 {
    width: 100%;
    text-align: center;
  }
}

@media (max-aspect-ratio: 1/1) {
  #footer {
    height: fit-content;

    #footer-left, #footer-right {
      width: 100%;
      position:unset;
      text-align: center;
      padding-top: 2.5vh;
      padding-bottom: 2.5vh;
    }
  }
}