#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-right: 3%;
  position: relative;

  h1 {
    flex: 1;
    margin-left: 5%;
  }
  a {
    margin-right: 2%;
  }
}


#header::after {
  content:'';
  position:absolute;
  display: block;
  background-color: $secondary;
  width:90%;
  height: 3px;
  bottom:0;
  left:5%;
}


@media (max-aspect-ratio: 1/1) {
  #header {
    display: flex;
    flex-wrap: wrap;
    h1 {
      width: 100%;
      flex-basis: 100%;
      margin-left: 0;
      text-align: center;
    }
    a {
      width: fit-content;
      display: block;
      h5 {
        width: fit-content;
      }
    }
  }
}